{% extends 'clean.html' %}
{% block title %}Email Sent{% endblock %}
{% block content %}

<div class="container my-5 p-5 shadow rounded" style="max-width: 500px;">
  <h2 class="text-center mb-3"> Check your email</h2>
  <p class="text-center">
    We've emailed you instructions for resetting your password.
    <br>
    If an account exists with the email you entered, you’ll receive it shortly.
    <br>
    Please also check your spam folder.
  </p>
  <div class="text-center mt-4">
    <a href="{% url 'login' %}" class="btn btn-primary w-100">Back to Login</a>
  </div>
</div>

{% endblock %}
